#heading{
    color: #03506F;;
    font-size: 70px;
    text-align: center;
    font-family: "proxima-nova","Helvetica Neue";
    margin-bottom: 5%;
    padding: 0%;
}

.body{
    background-image: url('ability.png');
    background-attachment: local;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px;
}

h1{
    font-family: 'Vesterbro';
    color:#03506F;;
    font-size: 40px;
    text-align: center;
}