#heading1{
    color: white;
    font-size: 70px;
    text-align: center;
    font-family: "proxima-nova","Helvetica Neue";
    margin-bottom: 5%;
    padding: 0%;
}
h1{
    font-family: 'Vesterbro';
    color: white;
    font-size: 40px;
    text-align: center;
}

.self{
    align-items: center;
    text-align: center;
    margin: 5% 30% 10% 30%;
    font-family: system-ui!important;
    font-size: 20px;
    color: #03506F;
}

.body2{
    background-image: url('about.gif');
    background-attachment: fixed;
    height: vmin;
    width: vmin;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px;
    color: white;
}

.about{
    align-items: center;
    text-align: center;
    margin: 0% 30% 10% 30%;
    font-family: system-ui!important;
    font-size: 20px;
    color: white;
}
