#heading{
    color: white;
    font-size: 70px;
    text-align: center;
    font-family: "proxima-nova","Helvetica Neue";
}

.body1{
    background-image: url('about.jpg');
    background-attachment: local;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px;
}

h1{
    font-family: 'Vesterbro';
    color: white;
    font-size: 40px;
    text-align: center;
}

.self{
    display: block;
    align-items: center;
    text-align: center;
    margin: 0 30% 0 30%;
    font-family:  'Open Sans', sans-serif !important;
    font-size: 20px;
    color: white;
    background-color: rgba(0, 0, 0, 0.605);
    padding: 20px;
    border-radius: 20px;
}

.body2{
    background-image: url('work.jpg');
    background-attachment: local;
    height: vmin;
    width: vmin;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px;
}

.about{
    align-items: center;
    text-align: center;
    margin: 2% 20% 0 20%;
    font-family:  'Open Sans', sans-serif !important;
    font-size: 20px;
    color: white;
    background-color: rgba(0, 0, 0, 0.605);
    padding: 20px;
    border-radius: 20px;
}

#grid{
    display: grid;
    grid-template-columns: 2fr 0.5fr 2fr;
}